body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*
*#576F72;

*/
.container{
    background-color: #A5C9CA;
    padding: 10px;


}

.weather-app{
    width: 600px;
    margin:20px auto;
    padding: 70px;
    border: 1px solid #dadde1;
    border-radius: 7px;

}

.search{
    background-color: #A5C9CA;
    padding: 5px;
    border-radius: 10px;
    border: 4px #A5C9CA solid;
    color: white;
}

h1{
   color: #878387;
   /* color: #3F4E4F;*/
    font-size: 38px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

}
ul{
    margin: 0;
    padding: 0;

}

li{
    list-style: none;
    color: rgb(135, 135, 135);
    font-size: 16px;
    line-height: 16px;
    font-weight: 100;
    line-height: 19px;

}
li::first-letter{
    text-transform: capitalize;
}

.overview{
    margin-bottom: 25px;

}

.weather-temperature img{
    margin-right: 10px;
    height: 64px;
    width: 64px;


}

.weather-temperature .number {
    color: rgb(33, 33, 33);
    font-weight: 400;
    font-size: 64px;
    line-height: 1;


}

.weather-temperature .units{
    position: relative;
    font-size: 18px;
    top: -32px;


}

.weather-temperature .units, a{
    text-decoration: none;    
}

.weather-temperature .active{
    color: black;
    cursor: default;
}

.weather-temperature .active:hover{
   text-decoration: none;

}

.weather-app{
    background:radial-gradient(321px at 8.3% 75.7%, rgb(209, 247, 241) 0%, rgb(249, 213, 213) 81%);
}

/** Forecast Plan 
# To add HTML and Css for forecast
# To add the API call to get the forecast
# To replace the dummy content

*/

.weather-forecast{
    margin-top: 20px;
    text-align: center;
    color: black;
 

}

.weather-forecast-date{
    font-size: 16px;
    opacity: 0.5;
   

}

.weather-forecast-temperature{
    font-size: 13px;
}

.weather-forecast-temperature-mini{
    opacity: 0.5;

}

.github-link{
    font-size: 13px;
    color: #475252;
    /*display: block;
    margin: 0 auto;*/
   display: flex;
    justify-content: center;

}
.github-link a{
    color: #475252;
    margin-right: 2px;
}

